.row {
  margin: 0 auto; /* 中央寄せ */
  padding: 0 20px 0;
}

h1{
  margin-bottom: 15px; /* 下に余白を追加 */
}

table {
  width: 100%; /* テーブルの幅 */
  border-collapse: collapse; /* 境界線を重ねる */
  margin-bottom: 20px; /* 下に余白を追加 */
}

td {
  padding: 10px; /* セル内の余白 */
  border: 1px solid #727272; /* セルの境界線 */
}

td img {
  border-radius: 20%; /* 角を丸く */
  margin-right: 10px; /* 画像と名前の間にマージンを追加 */
}

/* フォームのスタイル */
.field {
  margin-bottom: 15px; /* 各フィールドの下に余白を追加 */
  width: 600px; /* 横幅を600pxに設定 */
}

.field label {
  display: block; /* ラベルをブロックに */
  margin-bottom: 5px; /* ラベルの下に余白を追加 */
}

.field input[type="file"],
.field input[type="text"],
textarea {
  width: 100%; /* フィールドを全幅に */
  padding: 8px; /* 内側の余白 */
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 4px; /* 角を丸める */
}

textarea {
  height: 100px; /* 高さを設定 */
}

.quit {
  margin: 15px 0 0; /* 外側の余白 */
}

.profile-container {
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 中央揃え */
}

.profile-image {
    width: 80px; /* 画像の幅を指定 */
    height: 80px; /* 画像の高さを指定 */
    margin-right: 10px; /* 画像と名前の間にスペースを追加 */
}

.profile-name {
    max-width: 10em; /* 最大幅を10emに設定 */
    word-wrap: break-word; /* 単語の折り返しを許可 */
    overflow-wrap: break-word; /* ブラウザの互換性のため */
    white-space: normal; /* 通常の空白処理 */
    text-align: left; /* テキストを左寄せにする */
}