.row {
  margin: 0 auto; /* 中央寄せ */
  padding: 0 10px 0;
}

h1{
  margin-bottom: 15px; /* 下に余白を追加 */
}

/* フォームのスタイル */
.field {
  margin-bottom: 15px; /* 各フィールドの下に余白を追加 */
  width: 700px; /* 横幅を600pxに設定 */
}

.field label {
  display: block; /* ラベルをブロックに */
  margin-bottom: 5px; /* ラベルの下に余白を追加 */
}

.field input[type="file"],
.field input[type="text"],
textarea {
  width: 100%; /* フィールドを全幅に */
  padding: 8px; /* 内側の余白 */
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 4px; /* 角を丸める */
}

textarea {
  height: 100px; /* 高さを設定 */
}

/* ラジオボタンのスタイル*/
.radio {
  margin: 5px auto; /* 各フィールドの下に余白を追加 */
  width: 700px; /* 横幅を600pxに設定 */
}

.radio label {
  margin-right: 10px; /* ラベル同士の間隔 */
}

.radio-buttons label {
  font-weight: bold;
}

.field_with_errors {
  width: 100%; /* フィールドを全幅に */
  border-radius: 4px; /* 角を丸める */
}
