<%= stylesheet_link_tag 'public/customers' %>
<div class="container">
  <div class="row">
    <h5><strong>【<%= @customer.name %>】</strong>のフォロー一覧</h5>
  </div>

  <div class="row">
    <% if @customers.exists? %>
      <%= render 'followlist', customers: @customers %>
    <% else %>
      <h5>ユーザーはいません</h5>
    <% end %>
  </div>

</div>