<%= stylesheet_link_tag 'public/customers' %>
<div class="container">
  <div class="row">
      <h1><%= @customer.name %>のフォロー一覧</h1>
  </div>

  <div class="row">
    <% if @customers.exists? %>
      <%= render 'followlist', customers: @customers %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>

</div>