<%= stylesheet_link_tag 'public/homes' %>
<div class="container">

  <div class="row">
    <%= display_flash_messages %> <!--ヘルパーメソッドで指定-->
  </div>

  <div class="row">
    <h1>各ページの説明</h1>
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>マイページ</td>
          <td>
            <ul>
              <li>ユーザー情報の確認(編集)</li>
              <li>フォロー一覧へのリンク</li>
              <li>お気に入りアイデア一覧へのリンク</li>
              <li>投稿アイデア一覧(編集・削除)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>ユーザー編集</td>
          <td>
            <ul>
              <li>ユーザー情報の編集(退会)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>投稿編集</td>
          <td>
            <ul>
              <li>投稿アイデアの公開非公開の切り替え</li>
              <li>投稿アイデアの編集</li>
              <li>
                投稿アイデアを元にタイトルと本文の作成<br />
                ※アイデアが公開状態の場合でも、<br />
                　タイトルと本文は他のユーザーには公開されません
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>新規投稿</td>
          <td>
            <ul>
              <li>アイデアの投稿</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>ユーザー一覧</td>
          <td>
            <ul>
              <li>
                各ユーザーの登録情報・投稿アイデアの確認<br />
                ※非公開設定になっているアイデアは表示されません
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>タグ一覧</td>
          <td>
            <ul>
              <li>投稿アイデアに付けられたタグの一覧</li>
              <li>タグ検索</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
