<%= stylesheet_link_tag 'public/homes' %>
<div class="container">
  <div class="row">
    <%= notice %>
  </div>

  <div class="row">
    <% if flash[:alert] %>
      <div id="error_explanation">
        <h2><%= flash[:alert] %></h2>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h1>各ページ説明</h1>
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>マイページ</td>
          <td>
            ・ユーザー情報の確認(編集)<br />
            ・フォロー一覧へのリンク<br />
            ・お気に入りアイデア一覧へのリンク<br />
            ・投稿アイデア一覧(編集・削除)<br />
          </td>
        </tr>
        <tr>
          <td>ユーザー編集</td>
          <td>
            ・ユーザー情報の編集(退会)
          </td>
        </tr>
        <tr>
          <td>新規投稿</td>
          <td>
            ・アイデアの投稿<br />
          </td>
        </tr>
        <tr>
          <td>投稿編集</td>
          <td>
            ・投稿アイデアの公開非公開の切り替え<br />
            ・投稿アイデアの編集<br />
            ・投稿アイデアを元にタイトルと本文の作成<br />
            　∟アイデアが公開状態の場合でも、<br />
            　タイトルと本文は他のユーザーには公開されません
          </td>
        </tr>
        <tr>
          <td>ユーザー一覧</td>
          <td>
            ・各ユーザーの登録情報・投稿アイデアの確認<br />
            　∟非公開設定になっているアイデアは表示されません<br />
            ・相互フォロワーへのDMリンク
            ・ユーザー検索
          </td>
        </tr>
        <tr>
          <td>タグ一覧</td>
          <td>
            ・投稿アイデアに付けられたタグ一覧の確認
            ・タグ検索
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
