<%= stylesheet_link_tag 'public/homes' %>
<div class="container">

  <div class="row">
    <%= display_flash_messages %> <!--ヘルパーメソッドで指定-->
  </div>

  <div class="row">
    <div>
      <p>ここは、文章での創作活動をする方向けに作成された、<br />
          アイデアを書き溜めていくメモ帳サイトです。</p>

      <p>各ページの説明は、aboutページを参照してください。</p>

      <p>※このサイトはオンラインスクールで作成したポートフォリオです。<br />
      　予告なく閉鎖する可能性がございますので、その点ご了承をお願いいたします。</p>
    </div>
  </div>
</div>
