.row {
  margin: 0 auto; /* 中央寄せ */
  padding: 0 20px 0;
}

table {
  width: 100%; /* テーブルの幅 */
  border-collapse: collapse; /* 境界線を重ねる */
  margin-bottom: 20px; /* 下に余白を追加 */
}

td {
  padding: 10px; /* セル内の余白 */
  border: 1px solid #727272; /* セルの境界線 */
}

td img {
  border-radius: 20%; /* 角を丸く */
  margin-right: 10px; /* 画像と名前の間にマージンを追加 */
}

td label {
  font-weight: bold; /* 太字にする */
}

.profile-container {
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 中央揃え */
}

.profile-image {
    width: 80px; /* 画像の幅を指定 */
    height: 80px; /* 画像の高さを指定 */
    margin-right: 10px; /* 画像と名前の間にスペースを追加 */
}

.profile-name {
    max-width: 10em; /* 最大幅を10emに設定 */
    word-wrap: break-word; /* 単語の折り返しを許可 */
    overflow-wrap: break-word; /* ブラウザの互換性のため */
    white-space: normal; /* 通常の空白処理 */
    text-align: left; /* テキストを左寄せにする */
}