.row {
  margin: 0 auto; /* 中央寄せ */
  padding: 0 20px 0;
}

table {
  width: 100%; /* テーブルの幅 */
  border-collapse: collapse; /* 境界線を重ねる */
  margin-bottom: 20px; /* 下に余白を追加 */
}

td {
  padding: 10px; /* セル内の余白 */
  border: 1px solid #727272; /* セルの境界線 */
}

td img {
  border-radius: 20%; /* 角を丸く */
  margin-right: 10px; /* 画像と名前の間にマージンを追加 */
}

td label {
  font-weight: bold; /* 太字にする */
}
